[user]
    name = arurke
[alias]
    ap = add -p
    a = add
    cm = "!git commit -m \"$*\" && :"
    co = checkout
    cob = checkout -b
    d = diff
    pushf = push --force-with-lease
    s = status
    s = diff --staged
[core]
    editor = vim
[rebase]
    autosquash = true
