[user]
    name = Andreas Urke
[alias]
    ap = add -p
    a = add
    cm = "!git commit -m \"$*\" && :"
    co = checkout
    cob = checkout -b
    d = diff
    ds = diff --staged
    pushf = push --force-with-lease
    s = status
    home = checkout master
    logo = log --oneline --graph
    append = commit --amend --no-edit
[core]
    editor = vim
[rebase]
    autosquash = true
